 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/Untitleddesign39.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 651px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  letter-spacing: 8px;
  font-size: 1.125rem;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  text-decoration: underline solid rgb(255, 255, 255);
  font-weight: 500;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 882px;
  background-image: none;
  font-size: 3.75rem;
  margin: 10px auto 0;
}

.u-section-1 .u-text-3 {
  width: 785px;
  margin: 12px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 5px;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  border-style: none;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px auto 60px;
  padding: 18px 69px 18px 68px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 66px;
    margin-right: 89px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-top: 4px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    font-size: 2.25rem;
    text-decoration: underline solid rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 942px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 4px;
  font-size: 1.125rem;
  font-weight: 300;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 3rem;
}

.u-section-2 .u-list-1 {
  margin: 60px 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 560px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-icon-1 {
  width: 74px;
  height: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 14px;
}

.u-section-2 .u-text-3 {
  width: 253px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1rem;
  margin: 75px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.15);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-icon-2 {
  width: 74px;
  height: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 7px;
}

.u-section-2 .u-text-5 {
  width: 253px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1rem;
  margin: 75px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-icon-3 {
  width: 74px;
  height: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 14px;
}

.u-section-2 .u-text-7 {
  width: 253px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1rem;
  margin: 75px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-icon-4 {
  width: 74px;
  height: 74px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 14px;
}

.u-section-2 .u-text-9 {
  width: 253px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1rem;
  margin: 75px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.15);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

.u-section-2 .u-icon-5 {
  width: 74px;
  height: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 14px;
}

.u-section-2 .u-text-11 {
  width: 253px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1rem;
  margin: 75px auto 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-icon-6 {
  width: 74px;
  height: 74px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 14px;
}

.u-section-2 .u-text-13 {
  width: 253px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1rem;
  margin: 75px auto 0;
}

.u-section-2 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-15 {
  font-size: 0.875rem;
  font-weight: 300;
  width: 697px;
  margin: 75px auto 44px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 462px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 796px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-15 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-icon-1 {
    padding: 7px;
  }

  .u-section-2 .u-icon-3 {
    padding: 7px;
  }

  .u-section-2 .u-icon-4 {
    padding: 7px;
  }

  .u-section-2 .u-icon-5 {
    padding: 7px;
  }

  .u-section-2 .u-icon-6 {
    padding: 7px;
  }

  .u-section-2 .u-text-15 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/Untitleddesign38.png");
}

.u-section-3 .u-sheet-1 {
  min-height: 522px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-decoration: none solid rgb(255, 255, 255);
  font-weight: bold;
  width: 882px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  letter-spacing: -2px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin: 23px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  letter-spacing: 2px;
  border-style: none;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto;
  padding: 15px 62px 15px 60px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-text-1 {
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 545px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 94px auto 0;
}

.u-section-4 .u-text-2 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 868px;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 56px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(20% - 11.2px) calc(20% - 11.2px) calc(20% - 11.2px) calc(20% - 11.2px) calc(20% - 11.2px);
  min-height: 190px;
  grid-gap: 14px 14px;
  grid-auto-columns: calc(20% - 11.2px);
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 10px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 70px 0 0;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 10px;
}

.u-section-4 .u-text-4 {
  line-height: 1.6;
  font-weight: 700;
  font-size: 1rem;
  margin: 70px 0 0;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 10px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  margin: 70px 0 0;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 0 10px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 70px 0 0;
}

.u-section-4 .u-list-item-5 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 0 10px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: 70px 0 0;
}

.u-section-4 .u-list-item-6 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 0 10px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  font-size: 1rem;
  margin: 70px 0 0;
}

.u-section-4 .u-list-item-7 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 0 10px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  margin: 70px 0 0;
}

.u-section-4 .u-list-item-8 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 0 10px;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  font-size: 1rem;
  margin: 70px 0 0;
}

.u-section-4 .u-list-item-9 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-9 {
  padding: 0 0 10px;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  font-size: 1rem;
  margin: 70px 0 0;
}

.u-section-4 .u-list-item-10 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-10 {
  padding: 0 0 10px;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  font-size: 1rem;
  margin: 70px 0 0;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(5, calc(20% - 11.2px));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 37px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 9.333333333333334px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 9.333333333333334px));
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.75rem;
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 7px);
    grid-template-columns: repeat(2, calc(50% - 7px));
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-7 {
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-8 {
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-9 {
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-10 {
    padding-right: 0;
  }
} .u-section-5 {
  background-image: none;
  min-height: 246px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 60px;
  margin-bottom: -279px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 0;
  grid-gap: 0px 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-5 .u-container-layout-1 {
  padding: 7px 0;
}

.u-section-5 .u-image-1 {
  height: 77px;
  width: 242px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 7px 0;
}

.u-section-5 .u-image-2 {
  height: 77px;
  width: 242px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 7px 0;
}

.u-section-5 .u-image-3 {
  height: 77px;
  width: 242px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 7px 0;
}

.u-section-5 .u-image-4 {
  height: 77px;
  width: 242px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 7px 0;
}

.u-section-5 .u-image-5 {
  height: 77px;
  width: 242px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 7px 0;
}

.u-section-5 .u-image-6 {
  height: 77px;
  width: 242px;
  margin: 0 auto;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    grid-auto-columns: 33.333333333333336%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    grid-template-rows: auto;
    margin-bottom: 60px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 742px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-6 .u-list-1 {
  width: 855px;
  margin: 67px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 423px;
  grid-gap: 30px 30px;
}

.u-section-6 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-6 .u-group-1 {
  width: 260px;
  min-height: 71px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -41px 8px 0 22px;
}

.u-section-6 .u-image-1 {
  width: 79px;
  height: 79px;
  background-image: url("images/271676442_3122550211301156_3076765942325534840_n-16.jpg");
  background-position: 50% 50%;
  margin: -71px 0 0 auto;
}

.u-section-6 .u-text-3 {
  line-height: 2.2;
  font-style: normal;
  margin: 41px 0 0;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-6 .u-group-2 {
  width: 260px;
  min-height: 71px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -41px 8px 0 22px;
}

.u-section-6 .u-image-2 {
  width: 79px;
  height: 79px;
  background-image: url("images/pexels-jeandaniel-francoeur-12842811.jpg");
  background-position: 50% 50%;
  margin: -71px 0 0 auto;
}

.u-section-6 .u-text-5 {
  line-height: 2.2;
  font-style: normal;
  margin: 41px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 839px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 455px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: none;
  margin: 0 123px 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  line-height: 1.8;
  font-style: normal;
  font-size: 1rem;
  margin: 20px 4px 0 0;
}

.u-section-7 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 27px auto 0 0;
}

.u-section-7 .u-icon-3 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-form-1 {
  height: 313px;
  margin: 0 -60px 0 0;
}

.u-section-7 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-7 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-7 .u-input-3 {
  font-size: 1.25rem;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-7 .u-text-4 {
  letter-spacing: 0px;
  background-image: none;
  font-size: 0.75rem;
  margin: 119px auto 0;
}

.u-section-7 .u-image-1 {
  width: 247px;
  height: 55px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 375px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3.4375rem;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-7 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 370px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-7 .u-text-4 {
    font-size: 0.625rem;
  }
}